body {
    min-width: 320px;
    max-width: 750px;
    width: 10rem;
    margin: 0 auto;
    background: #f5f5f6;
}

@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }
}

.location {
    height: 1.0667rem;
    background: #ffcc33;
    padding: 0.16rem 0.32rem 0.0667rem;
    display: flex;
    align-items: center;
}

.location-content {
    height: 0.4533rem;
    display: flex;
    align-items: center;/*居中对齐*/
    line-height: 0.4533rem;/*使用百分比设置行高*/
}

.location-content::before {
    display: inline-block;
    content: "";
    background: url(../images/location.png) no-repeat;
    background-size: contain;
    width: 0.4rem;
    height: 0.4267rem;
    margin-right: 0.0667rem;
}

.location-content::after {
    display: inline-block;
    content: "";
    background: url(../images/right_arrow.png) no-repeat;
    background-size: contain;
    width: 0.1333rem;
    height: 0.1333rem;
    margin: 0 0.0667rem;
}
.location-item{
    font-size: 0.3733rem;
    font-weight: 600;
    max-width: 8.6667rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 搜索区域 */
.search{
    height: 1.28rem;
    background: #ffcc33;
    padding: .16rem .32rem 0;
    position: sticky;
    top: 0;
    z-index: 99;
}

.search-content{
    height: .9067rem;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .6667rem;
    line-height: .9067rem;
}
.icon-search{
    width: .32rem;
    height: .32rem;
    background: url(../images/search.png) no-repeat;
    background-size: contain;
    margin: 0 .1333rem;
    display: inline-block;
}
.search-content input{
    height: .6667rem;
    font-size: .32rem;
    flex: 1;
}
.search-content input::placeholder{
    color: #858687;
}
.bth-search {
    width: 1.4667rem;
    height: .7467rem;
    padding: .12rem .32rem;
    background: #fece4d;
    line-height: .5067rem;
    text-align: center;
    font-size: .3733rem;
    border-radius: .6667rem;
    margin-right: .08rem;
    white-space: nowrap;
}

/* 导航区域 */
.nav {
    display: flex;
    flex-wrap: wrap;
    padding: .1067rem .1867rem;
    background: linear-gradient(#fff, #f5f5f6);
    margin-bottom: .1333rem;
}

.nav a {
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .1333rem 0;
}

.nav a img {
    width: 1.1733rem;
    height: 1.1733rem;
}

.nav a span{
    font-size: .2933rem;
    padding-top: .16rem;
    line-height: .2933rem;
}

/*滚动banner*/
.slide{
    max-width: 9.36rem;
    margin: 0 auto;
}

.focus{
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.focus .hd {
    width: 100%;
    height: .1467rem;
    position: absolute;
    z-index: 1;
    bottom: .0667rem;
    text-align: center;
}

.focus .hd ul{
    display: inline-block;
    height: .0667rem;
    padding: .04rem .0667rem;
    background-color: rgba(225, 225, 255, 0.7);
    -webkit-border-radius:.0667rem;
    -moz-border-radius:.0667rem;
    border-radius: .0667rem;
    font-size: 0;
    vertical-align: top;
}

.focus .hd ul li{
    display: inline-block;
    width: .0667rem;
    height: .0667rem;
    -webkit-border-radius: .0667rem;
    -moz-border-radius:.0667rem;
    border-radius: .0667rem;
    background: #8c8c8c;
    margin: 0 .0667rem;
    vertical-align: top;
    overflow: hidden;
}

.focus .hd ul .on{
    background: #FE6C9C;
}

.focus .bd{
    position: relative;
    z-index: 0;
}

.focus .bd li img {
    width: 100%;
    height: auto;
    border-radius: .32rem;
}
/* 筛选区域 */
.filter{
    display: flex;
    height: .6667rem;
    margin: .2667rem 0;
    align-items: center;
    padding: 0 .32rem;
}

.filter-content{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.filter-content a{
    width: 1.8667rem;
    height: .6667rem;
    display: block;
    background: #fff;
    text-align: center;
    line-height: .6667rem;
    font-size: .2933rem;
    border-radius: .16rem;
}

.more-filter a{
    width: .3733rem;
    height: .3733rem;
    background: url(../images/class.png) no-repeat;
    background-size: contain;
    display: block;
    margin-left: .2667rem;
}
/* 商家列表 */
.shoplist{
    padding: 0 .2133rem;
    margin-bottom: 65px;
}
.shoplist-item{
    display: flex;
    height: 3.0933rem;
    padding: .2133rem;
    border-radius: .32rem;
    background: #fff;
    border: 1px solid #f2f1f0;
    margin-bottom: .2133rem;
}

.shoplist-item-pic {
    width: 2.64rem;
    height: 2.64rem;
    margin-right: .2133rem;
    position: relative;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
}

.shoplist-item-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px;
}
.icon-brand{
    position: absolute;
    width: 30px;
    height: 18px;
    top: 4px;
    right: -2px;
}
.icon-brand img{
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.shoplist-item-info{
    flex: 1;
    overflow: hidden;
}

.shopname{
    height: .5333rem;
    display: flex;
    align-items: center;
}

.shopname .quan{
    width: .7867rem;
    height: .4267rem;
    margin-right: .1067rem;
}

.shopname .quan img {
    width: .7867rem;
    height: .4267rem;
    object-fit: cover;
    display: block;
}

.shopname h2 {
    font-size: .4267rem;
    font-weight: 700;
    color: #222426;
    margin-right: .1067rem;
    line-height: .5333rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sale{
    display:flex;
    height: .3733rem;
    margin-top: .0533rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.sale-left{
    display: flex;
    flex: 1;
    align-items: center;
    overflow: hidden;
}
.sale-left span{
    font-size: .2933rem;
    margin-right: .16rem;
    color: #858687;
    white-space: nowrap;
}
.sale-left .score{
    color:#ff8000;
    font-size: .32rem;
    font-weight: 500;
}
.sale-right{
    background: #fafafa;
    border-radius: .0533rem;
    font-size: .2933rem;
    color: #ff8000;
    line-height: .3733rem;
    padding: 0 .0533rem;
    overflow: hidden;
    white-space: nowrap;
}
.express{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .3733rem;
    margin-top: .08rem;
}
.express-left{
    display: flex;
    align-items: center;
    flex: 1;
    height: .3733rem;
    line-height: .3733rem;
    overflow: hidden;
}
.express-left span{
    font-size: .2933rem;
    color: #858687;
    margin-right: .16rem;
    white-space: nowrap;
}
.express-right{
    display: flex;
    align-items: center;
    height: .3733rem;
    overflow: hidden;
}
.express-right span{
    font-size: .2933rem;
    color: #858687;
    margin-left: .16rem;
    white-space: nowrap;
    line-height: .3733rem;
}

.dianping{
    display: flex;
    align-items: center;
    height: .5333rem;
    overflow: hidden;
    margin-top: .1067rem;
}
.dianping span{
    font-size: .2933rem;
    color: #ff8000;
    background: #fff8e1;
    margin-right: .0667rem;
    border-radius: .0533rem;
    padding: 0 .0533rem;
    line-height: .5333rem;
    white-space: nowrap;
}
.zhekou{
    display: flex;
    align-items: center;
    height: .4267rem;
    margin-top: .16rem;
    overflow: hidden;
    margin-bottom: .04rem;
}
.zhekou span{
height: .4rem;
color: #ff4a26;
border: 1px solid #ffceca;
margin-right: .16rem;
padding: 0 .0933rem;
font-size: .2667rem;
line-height: .3733rem;
border-radius: .1067rem;
white-space: nowrap;
display: inline-block;
margin-bottom: .0267rem;
}
.footer{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    max-width: 750px;
    bottom: 0;
    background: #fafafa;
    z-index: 10;
}
.footer a{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px 0;
    color: #999;
}
.footer a img{
    width: 26px;
    height: 26px;
}
.footer a span{
    font-size: 12px;
    transform: scale(0.83);
}
.footer .active{
    color: #333;
}